ENVIRONMENT=dev

# generate: openssl rand -hex 32
PG_PASS=
PG_USER=oidc-serv
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DB=oidc-serv
PG_ARGS=?sslmode=disable
REDIS_PASS=

DATABASE_URL=postgres://$PG_USER:$PG_PASS@$PG_HOST:$PG_PORT/$PG_DB$PG_ARGS
CACHE_URL=redis://localhost:6379

# generate: openssl rand -hex 32
ENCRYPTION_KEY=
# generate: openssl rand -hex 32
ADMIN_API_KEY=

# SERVER_ADDR=:9090
